@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}

.greetings,
p,
h1,
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    background-color: greenyellow;
    padding: 6px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    margin-bottom: 3em;
    background-color: azure;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 22px;
}

li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
}

.logo img {
    width: 180px;
    height: 150px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 15px;
    flex-basis: 750px;
}

.myImage {
    margin-top: 120px;
    padding-left: 20px;
    flex-basis: 360px;
}